// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font_s_1: calc(1.2em + 1.2vw);
$font_s_2: calc(1em + 1vw);
$font_s_3: calc(.7em + .7vw);
$font_s_4: calc(.6em + .6vw);
$font_s_5: calc(.5em + .5vw);



// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



$primary: #5d161a;
$secondary: #000000;
$border-primary: #000000;
$facebook: #3b5998;
$instagram:  #FD1D1D;
$linkedin: #0e76a8;
$whatsapp: green;